
:host {
    .input-container {
        padding: 0.5rem;
        border-radius: 1rem;
        border: 1px solid grey;
        input {
            outline: none !important;
            border: none;
            width: 100%;
            font-size: 0.8rem;
        }
    }
    .validation-error {
        font-size: 0.8rem;
        color: red;
    }
}
